.interest-text{
    border:1px;
    margin-bottom:100px;
  }
  
  .interest-image.left{
    float:left;
    margin-right: 30px;
    width:250px;
    margin-bottom: 30px;
  }
  
  .interest-image.right{
    float:right;
    margin-left: 30px;
    width:250px;
    margin-bottom: 30px;
  }